{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block content %}
<body >
    <div class="container">
        
        <form method= 'POST' class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img class='center'src="images\\Registration.png"alt=""/>
            <br>
            <h1 class="text-center"  font-weight-normal">
                Login 
            </h1>
            {{ form.Username.label()}}
            {{ form.Username(class= 'form-control', placeholder= 'Username')}}

            {{ form.Password.label()}}
            {{ form.Password(class= 'form-control', placeholder= 'Password')}}
            <br>
            <a href="{{ url_for('app_login.resetpassword_page') }}" target= "_self"> Forgot Password? </a>
            <br>

        <br>
        {{form.Login(class='btn btn-lng btn-block btn-primary')}}

        <hr width=" 90%" size="80" align="center" color="white"> 
        
        <br>
        
        </form>
        
        <div class="checkbox nb-3">

            <h6> Do not have an account</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('app_login.register_page') }}">Register</a>
        </div>
    </div>
</body>
            
{% endblock %}