{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block content %}
<body >
    <div class="container">
        
        <form method= 'POST' class="form-reset" style="color:white">
            {{ form.hidden_tag() }}
            <img class='center'src="images\\Registration.png"alt=""/>
            <br>
            <h1 class="text-center"  font-weight-normal">
                Reset Password 
            </h1>
            {{ form.Email_address.label()}}
            {{ form.Email_address(class= 'form-control', placeholder= 'email')}}

        <br>
        {{form.Reset(class='btn btn-sm btn-block btn-primary')}}

        <br>
        
        </form>
        
        <div class="checkbox nb-3">
            <h6> Do not have an account</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('app_login.register_page') }}">Register</a>
        </div>
    </div>
</body>
            
{% endblock %}