{% extends 'base.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
<body >
    <div class="container">
        
        <form method= 'POST' class="form-verifypassword" style="color:white">
            {{ form.hidden_tag() }}
            <img class='center'src="images\\Registration.png"alt=""/>
            <br>
            <h1 class="text-center"  font-weight-normal">
                Login 
            </h1>
            {{ form.Password.label()}}
            {{ form.Password(class= 'form-control', placeholder= 'Password')}}

            {{ form.Verify_Password.label()}}
            {{ form.Verify_Password(class= 'form-control', placeholder= 'Verify_Password')}}

        <br>
        {{form.submit(class='btn btn-lng btn-block btn-primary')}}

        <br>
        
        </form>
        
        <div class="checkbox nb-3">
            <h6> Do not have an account</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('app_login.register_page') }}">Register</a>
        </div>
    </div>
</body>
            
{% endblock %}