{% extends 'base.html' %}
{% block title %}
product Page
{% endblock %}
{% block style %}
<link rel="stylesheet" href="src/product_app/static/product_page.css">
<link rel="stylesheet" href="src/product_app/static/product.css">
{% endblock %}
{% block content %}


    
<form method= 'POST' class="Comment" style="color:rgb(44, 43, 43)" enctype="multipart/form-data">
{{ form.hidden_tag() }}
<div><!--Main-->
    <div class="product-content">
        <div class="product-img"><!-- img-->
            <img class ="img" src="src/product_app/static/product_pic/{{item.image_file}}">
        </div>
        <div class="product-details"><!---product_details-->
            <div class="shop"><!--shop_name-->
                <p>Royalty Shop</p>
            </div>

            <div class="item-name"><!-- Item Name-->
                <p> {{item.name}}</p>
            </div>
        
            <div class="item-price"><!-- Item price-->
                <p>  &#8358;{{item.price}}</p>
            </div>

            <div ><!-- Add Button-->
                {{form.Addtocart(class="add-button")}}
            </div>
            <hr width="90%" color="grey" margin-left="auto"  margin-right="auto">

        </div>

    </div>

</div>

<div>
    <div style= "margin-left: 40px; padding-left: 20px">
    <h1 > Reviews</h1>
            {{ form.Description(class= 'form-control', placeholder= 'Review')}}</div>
        <br>
    <div  style= "margin-left: 40px; padding-left: 20px">
        {{form.Submit(class="post-button")}}
    </div>
        
    </div> 
</div>
</form>

<br>
<div>
    {% for product in productcomment %}
    <div style="background-color:rgba(117, 253, 5, 0.062);">

        <div class="comment-name" >
        <p style="font-weight: bold; font-size:16px; padding-top:10px; margin-bottom:0;">{{product.name}}</p>
        <p> {{product.date}}</p>
        </div>
        <div class="comment-body">
            {{product.body}}
        </div>
    </div>
    <br>
    {% endfor %}
   

</div>

{% endblock %}