{% extends 'base.html' %}
{% block title %}
Shopping Page
{% endblock %}
{% block style %}
<link rel="stylesheet" href="src/product_app/static/product.css">
<link rel="stylesheet" href="src/product_app/static/shopping_page.css">
<link rel="stylesheet" href="src/product_app/static/cart.css">


{% endblock %}
{% block content %}
<!------------------Product categories----------------------------------------------------------------->
    <div>
        <div class="home-categories"> <!-- Home Container-->
            <div class="home-content"> <!--content (title and contents)-->
                <div class="home-title"> <!--title-->
                    <p class="title"> Top Deals</p>
                </div>

                <div class="categories-product">
                    {% for product in items %}
    
                        <a href="{{url_for('app_product.product_page', item=product._id)}}">
                            <div class="main-div"> <!--Main_div-->
                                <div>
                                    <div class="product-img"><!--Product-image-->
                                        <img class ="product-img" src="src/product_app/static/product_pic/{{product.image_file}}">
                                    </div>
                                        <div class="product-title">
                                            <p> {{product.name}}</p>
                                        </div>
                
                                        <div class="product-price">
                                           <p>  &#8358;{{product.price}}</p></div>
                                </div>
                
                            </div>
                        </a>
                    
                     {% endfor %}
            </div>
    </div>
<!---------------------------Product categories----------------------------------------------------------------->

<!--------------------------- Side Bar----------------------------------------------------------------->


{% endblock %}