{% extends 'base.html' %}
{% block title %}
Shopping Page
{% endblock %}
{% block style %}
<link rel="stylesheet" href="src/product_app/static/product.css">
<link rel="stylesheet" href="src/product_app/static/shopping_page.css">
<link rel="stylesheet" href="src/product_app/static/cart.css">


{% endblock %}
{% block content %}
<!------------------Product categories----------------------------------------------------------------->
    <div>
        <div class="home-categories"> <!-- Home Container-->
            <div class="home-content"> <!--content (title and contents)-->
                <div class="home-title"> <!--title-->
                    <p class="title"> Top Deals</p>
                </div>

                <div class="categories-product">
                    {% for product in items %}
    
                        <a href="{{url_for('app_product.product_page', item=product._id)}}">
                            <div class="main-div"> <!--Main_div-->
                                <div>
                                    <div class="product-img"><!--Product-image-->
                                        <img class ="product-img" src="src/product_app/static/product_pic/{{product.image_file}}">
                                    </div>
                                        <div class="product-title">
                                            <p> {{product.name}}</p>
                                        </div>
                
                                        <div class="product-price">
                                           <p>  &#8358;{{product.price}}</p></div>
                                </div>
                
                            </div>
                        </a>
                    
                     {% endfor %}
            </div>
    </div>
<!---------------------------Product categories----------------------------------------------------------------->

<!--------------------------- Side Bar----------------------------------------------------------------->

    <div class="side-bar">
        <div class="icons"><!--home-->
            <img  class="categories-img"  src="src/product_app/static/icons/beauty.png"/>
            <p class="categories-title">Beauty</p>
        </div>

        <div class="icons"><!--home-->
            <img  class="categories-img"  src="src/product_app/static/icons/controller.png"/>
            <p class="categories-title">Games</p>
        </div>


        <div class="icons"><!--home-->
            <img class="categories-img"  src="src/product_app/static/icons/fitness.png"/>
            <p class="categories-title">Fittness</p>
        </div>

        <div class="icons"><!--home-->
            <img class="categories-img"  src="src/product_app/static/icons/grocery.png"/>
            <p class="categories-title">Grocery</p>
        </div>

        <div class="icons"><!--home-->
            <img class="categories-img"  src="src/product_app/static/icons/shampoo.png"/>
            <p class="categories-title">Shampoo</p>
        </div>

        <div class="icons"><!--home-->
            <img class="categories-img"  src="src/product_app/static/icons/iphone.png"/>
            <p class="categories-title">Phones</p>    
        </div>

        <div class="icons"><!--home-->
            <img class="categories-img"  src="src/product_app/static/icons/workstation.png">
            <p class="categories-title">computers</p>
        </div>

        

    </div>
<!---------------------------Side Bar----------------------------------------------------------------->

{% endblock %}