.body{
    padding-left: 72px;
    padding-top: 45px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);

}

.product-content{
    display: flex;
    align-items: row;
    margin-left: 20px;


}
.product-img{
    border-radius:5px;
    flex:1
    

}
.product{
    display:flex;
    flex-direction: row;
    align-items: center;

}
.product-details{
    padding-top:20px;
   display: flex;
   flex-direction:column;
   flex:1
   


}
.shop{
    font-size:16px;
    font-family: roboto;
    font-weight: 500;
    color:rgb(175, 174, 174)

}
.item-name{
    font-size:48px;
    font-family: roboto;
    font-weight: 500;
}

.item-price{
    font-size:32px;
    font-family: roboto;
    font-weight: 500;
}

.product_img{
    width:600px;

    flex:1;
}
.add-button{
    display:inline-block;
    background-color: rgb(64, 64, 235);
    padding: 20px 30px 10px 30px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align:center;
}
.side-bar{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:72px;
    top:55px;
    bottom:0;
    left:0;
    padding-top:22px;
    position: fixed;
    background-color: white;
    justify-content: space-between;
}
.icons{
    display:flex;
    flex-direction: column;
    align-items: center;


}
.categories-title{
    font-family: roboto Helvetica, sans-serif;
    font-size : 12px;
}
.categories-img{
   display:flex;
   
   width:30px;
   align-items:center;
   flex-direction: row;
}