.cart-title{
    font-size: 16px;
    font-weight: normal;
    font:roboto;

}
.cart-price{
    font-size: 16px;
    font-weight: 600;
    font:roboto;
}
.cart-img{
    width: 70px;

}
.cart-item{
    display:flex;
    flex-direction: row;
}
.cart-details{
    padding-top:3px;
}
.cart-basket{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.basket-close{
    transform: rotate(45deg);
}